
# --- Security & Sensitive Data ---
carrier.txt
password.txt
exclude_carrier.txt

# Ignore any data folders created by the user
hide_*/
found_*/

# Ignore any data type created by the user
*.txt
*.pdf
!LICENSE.txt
!description.txt
!requirements.txt
!todo.txt

# --- Python Environment ---
__pycache__/
*.py[cod]
*$py.class
.env
venv/
ENV/

# --- macOS Specific ---
.DS_Store
.AppleDouble
.LSOverride

# --- Local Testing ---
# Ignore any temp directories created during manual tests
temp_test_*/
*.log

hide.sh